@using QEX.Components.UI.UI.PageLayout
@using QEX.Components.UI.UI.RichEdit

<div class="my-component">
    <PageLayout>
        <TabPage Title="sdhfijkl">
            <div contenteditable="true" style="height: 100px"></div>
        </TabPage>

        <TabPage Title="sdhfijkl111">
            <RichEdit @bind-Value="Text" ToolBarVisible="true"/>
        </TabPage>
    </PageLayout>
</div>

<style>

</style>

@code {
    [Parameter] public EventCallback OnClose { get; set; }

    private string Text = "<p>Hello world</p>";
    
}


