@* Components/ExtensionDiv.razor *@
@using Abstractions.Interface;
@using Abstractions.Service;
@inject IExtensionService ExtensionService
<div class="ExtensionContainer @(ExtensionService.IsVisible ? "Open" : "")">
    @if (ExtensionService.IsVisible && ExtensionService.CurrentComponentType != null)
    {
        <div class="ExtensionCaption">
            @{
                var parameters = ExtensionService.CurrentParameters ??
                        new Dictionary<string, object>();

                parameters["OnClose"] = EventCallback.Factory.Create(this, CloseExtension);
                var ComponentType = ExtensionService.CurrentComponentType;
            }
            <DynamicComponent Type="@ComponentType" Parameters="@parameters"></DynamicComponent>
        </div>
    } 
</div>

@code {
    protected override void OnInitialized()
    {
        ExtensionService.OnOpenExtension += (type, parameters) => StateHasChanged();
        ExtensionService.OnCloseExtension += StateHasChanged;
        base.OnInitialized();
    }

    private void CloseExtension()
    {
        ExtensionService.CloseExtension();
    }
    public void Dispose()
    {
        ExtensionService.OnCloseExtension -= StateHasChanged;
    }
}
