@* Components/ExtensionDiv.razor *@
@using Abstractions.Interface;
@using Abstractions.Service;
@inject IExtensionService ExtensionService
<div class="ExtensionContainer">
    @if (ExtensionService.IsVisible && ExtensionService.CurrentComponentType != null)
    {
        <div class="ExtensionsHeader">
            @ExtensionTitle
        </div>
        <div class="ExtensionCaption">
            @{
                var parameters = ExtensionService.CurrentParameters ??
                        new Dictionary<string, object>();

                parameters["OnClose"] = EventCallback.Factory.Create(this, CloseExtension);
                var ComponentType = ExtensionService.CurrentComponentType;
            }
            <DynamicComponent Type="@ComponentType" Parameters="@parameters"></DynamicComponent>
        </div>
    } 
</div>

@code {
    [Parameter] public string ExtensionTitle { get; set; } = "Base";
    [Parameter] public string Position { get; set; } = "left";
    [Parameter] public string Width { get; set; } = "auto";
    [Parameter] public string Height { get; set; } = "auto";

    protected override void OnInitialized()
    {
        ExtensionService.OnOpenExtension += (type, parameters) => StateHasChanged();
        ExtensionService.OnCloseExtension += StateHasChanged;
        //base.OnInitialized();
    }

    private void CloseExtension()
    {
        ExtensionService.CloseExtension();
    }
    public void Dispose()
    {
        ExtensionService.OnCloseExtension -= StateHasChanged;
    }
}
