@using QEX.Abstractions.Interface
@inject IExtensionService ExtensionService

<div class="ExtensionContainer @(ExtensionService.IsVisible ? "Open" : "")" style="height: 100%;">
    @if (ExtensionService.IsVisible && ExtensionService.CurrentComponentType != null)
    {
        <div class="ExtensionCaption" style="height:100%">
            @{
                var parameters = ExtensionService.CurrentParameters ??
                                 new Dictionary<string, object>();

                parameters["OnClose"] = EventCallback.Factory.Create(this, CloseExtension);
                var componentType = ExtensionService.CurrentComponentType;
            }
            <DynamicComponent Type="@componentType" Parameters="@parameters" />
        </div>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        ExtensionService.OnOpenExtension += (_, __) => StateHasChanged();
        ExtensionService.OnCloseExtension += StateHasChanged;
        base.OnInitialized();
    }

    private void CloseExtension()
    {
        ExtensionService.CloseExtension();
    }

    public void Dispose()
    {
        ExtensionService.OnCloseExtension -= StateHasChanged;
    }
}
