@using QEX.Abstractions.Service;
@using QEX.Components.Layout;
@using QEX.Abstractions.Interface;
@using QEX.Components.Extensions.Base;
@using QEX_Lib.ClientDB.Model
@inject IExtensionService ExtensionService;
@inject UserService UserService;

<div class="SideBar @(IsMenuOpen ? "Open" : "")">
    <button class="Toggle" @onclick="ExpandSideBarMenu">
        @(IsMenuOpen ? "<" : "≡")
    </button>

    <div class="MenuContainer">
        <button id="0" @onclick="ExpandProfileFrame">
            <span class="label">Profile</span>
        </button>

        <button id="1" @onclick="ExpandExtensionFrame">
            <span class="label">Extensions</span>
        </button>

        <button id="2" @onclick="ExpandOptionsFrame">
            <span class="label">Options</span>
        </button>
    </div>
</div>


@code {
    bool IsMenuOpen { get; set; } = false;

    public bool ShowSideBar()
    {
        return false;
    }
    private void ExpandSideBarMenu()
    {
        IsMenuOpen = !IsMenuOpen;
    }
    private void ExpandExtensionFrame()
    {
        ExtensionService.CloseExtension();
        var parameters = new Dictionary<string, object>
        {
        };
        ExtensionService.OpenExtension<ExtensionsStore>(parameters);
    }

    private void ExpandOptionsFrame()
    {
        ExtensionService.CloseExtension();
        var parameters = new Dictionary<string, object>
        {
        };

        ExtensionService.OpenExtension<UserOptionsExtension>(parameters);
    }
    private void ExpandProfileFrame()
    {
        ExtensionService.CloseExtension();

        UserService.SetUser(new User(){ID = 2, Name = "John Doe" }); 

        var parameters = new Dictionary<string, object>
        {
            { "User", UserService.CurrentUser }
        };

        ExtensionService.OpenExtension<UserProfileExtension>(parameters);

    }

}