
<div class="ProfileExtension">
    <div class="TopInfoUser">
        <div class="BacgroundTopProfile"> 
            <div class="ActiveAvatarUser">
                asd
            </div>
            <div class="ActiveNameUser">
                asd
            </div>
        </div>
    </div>
    <div class="AllInfoUser">
        <div class="StaticUserInf">

        </div>
        <div class="CustomUserInfo">

        </div>
    </div>
</div>

@code {
    [Parameter] public EventCallback OnClose { get; set; }
}
