@using QEX.Components.Extensions.Installed.QEX_3D
@using QEX.Components.UI.PageLayout
@using QEX.Components.UI.RichEdit
@using QEX.Components.UI.ComboBox
@using QEX.Components.UI.PopupMenu
@using QEX_Lib.ClientDB.Model

<div class="my-component">
    

    <PageLayout CanAddPage="true" OnCreateNewPageFragment="(builder) => { builder.OpenComponent<RichEdit>(0); builder.CloseComponent(); }"> 
        <TabPage Title="sdhfijkl">
            <RichEdit @ref="editor" ToolBarVisible="true" PopupMenu="EditorMenu" />
        </TabPage>

        <TabPage Title="sdhfijkl111">
            <QEX_3D/>

        </TabPage>
    </PageLayout>
    <ComboBox TItem="User"
              Items="@Users"
              TextSelector="u => u.Name"
              OnSelect="OnUserSelected"
              SelectionOnly="true">
        <ItemTemplate Context="u">
            <div style="display:flex; gap:10px;">
                <b>@u.Name</b>
            </div>
        </ItemTemplate>
    </ComboBox>

    <PopupMenu @ref="EditorMenu">
        <button @onclick='() => editor!.ToBold()'>Жирный</button>
        <button @onclick='() => editor!.ToItalic()'>Курсив</button>

        <ComboBox TItem="User"
                  Items="@Users"
                  TextSelector="u => u.Name"
                  SelectionOnly="true" />
    </PopupMenu>
</div>

<style>

</style>

@code {
    private PopupMenu? EditorMenu;
    private RichEdit? editor;

    private List<User> Users = new()
    {
        new User { Name = "Антон"},
        new User { Name = "Мария"},
        new User { Name = "Иван"}
    };

    private void OnUserSelected(User u)
    {
        Console.WriteLine($"Выбран: {u.Name}");
    }
    [Parameter] public EventCallback OnClose { get; set; }

    public string[]? GetLastOpenedFile { get; set; }    
}


