@inject ChatService Chat

<div>
    @foreach (var g in Chat.Guilds)
    {
        <div class="guild" @onclick="() => Chat.SelectGuild(g)">
            @g.Name
        </div>
    }

    @if (Chat.CurrentGuild != null)
    {
        <div class="channels">
            @foreach (var ch in Chat.CurrentGuild.TextChannels)
            {
                <div class="channel" @onclick="() => Chat.SelectChannel(ch)">
                    # @ch.Name
                </div>
            }

            <div class="voice-title">Голосовые каналы</div>

            @foreach (var vc in Chat.CurrentGuild.VoiceChannels)
            {
                <div class="voice-channel">
                    🔊 @vc.Name
                </div>
            }
        </div>
    }
</div>

@code{
    protected override void OnInitialized()
    {
        Chat.OnUIChanged += StateHasChanged;
    }

}
