.MainLayout {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.MainGrid {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100%;
    overflow: hidden;
}

.ExtensionLayout {
    position: relative;
    height: 100%;
}
